{{> menu-trip}}
<section class="content p-1">
  <div class="columns">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-1 has-text-black">
          <p>Trip ID:</p>
          {{trip._id}}
        </h2>
        <h3>Started at: <br>{{trip.startedAt}}</h3>
        <h3>Ended at: <br>{{trip.endedAt}}</h3>
      </div>
    </div>

    <div class="column is-half">
      <div class="box columns">
        <h2 class="title is-1 has-text-black">
          {{trip.id}}
        </h2>
        <div class="column is-half">
          <h3>Start location:
            <br>
            {{startingLocationLatitude}}
            <br>
            {{startingLocationLongitude}}
          </h3>
          <div class="box" id="map1" style="height: 45vh"></div>
        </div>
        <div class="column is-half">
          <h3>End location :
            <br>
            {{endingLocationLatitude}}
            <br>
            {{endingLocationLongitude}}
          </h3>
          <div class="box" id="map2" style="height: 45vh"></div>
        </div>
      </div>
    </div>

  </div>
  <section class="section content">
    <div>
      <div class="columns">
        <div class="column is-full">
          {{> list-telemetry-points}}
        </div>
      </div>
    </div>
  </section>
  <div class="box p-1">
    <div class="box  has-background-grey m-4">
      <div class="columns is-multiline has-text-black">


        <div class="column has-background-grey-light">
          <h3>Violations</h3>
          {{#if hasComments}}
          {{#if telemetry.speedViolation}}
          <p>Speed Violations ({{speedViolationCounter}})</p>
          {{/if}}
          {{#if telemetry.rpmViolation}}
          <p>Rpm Violations ({{rpmViolationCounter}})</p>
          {{/if}}
          {{else}}
          <p>No violations</p>
          {{/if}}

        </div>

        <div class="column has-background-dark has-text-white">
          <h3 class="has-text-white">Status</h3>
          <p>Latest Weather Status: {{trip.id}}</p>
          <div class="has-text-centered">
            <p>placholder</p>
          </div>
        </div>

        <div class="column has-background-grey-light">
          <h3>Max Values</h3>
          <p>Speed: {{maxSpeed}} km/h</p>
          <p>Rpm: {{maxRpm}}</p>
        </div>


        <div class="column has-background-dark has-text-white">
          <h3 class="has-text-white">Pressure</h3>
          <p>Placeholder</p>
          <p>Max Pressure: {{maxStationPressure}} </p>
          <p>Latest Pressure: {{latestPressure}}</p>
        </div>
      </div>
    </div>

    <div class="m-4" id="chartRpm"></div>

    <div class="m-4" id="chartSpeed">
    </div>

  </div>
</section>

<script>
  //MAP START POSITION
  const startMap = L.map('map1').setView([{{ startingLocationLatitude }}, {{ startingLocationLongitude }}], 15);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 20,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(startMap);
  //add start marker
  L.marker([{{ startingLocationLatitude }}, {{ startingLocationLongitude }}]).addTo(startMap)
    .bindPopup("Start Location");
</script>

<script>
  //MAP END POSITION
  const endMap = L.map('map2').setView([{{ endingLocationLatitude }}, {{ endingLocationLongitude }}], 15);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 20,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(endMap);
  //add end marker
  L.marker([{{ endingLocationLatitude }}, {{ endingLocationLongitude }}]).addTo(endMap)
    .bindPopup("End Location");
</script>


<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js">
</script>
<script>
  //RPM CHART
  console.log([{{{ graph.trendTstamps }}}])
  data = {

    labels: [{{{ graph.trendTstamps }}}],
  datasets: [
    {
      name: "Rpm", type: "line",
      values: [{{ graph.trendRpm }}]
        }],
  yMarkers: [{ label: "High Rev", value: 4000 }],
    yRegions: [{ label: "", start: 0, end: 4000 }]
}

  new frappe.Chart("#chartRpm", {
    data: data,
    type: 'line',
    height: 180,
    colors: ['red', 'blue'],
    isNavigable: true,
    lineOptions: {
      regionFill: 1,
      dotSize: 0.1
    },
    title: "RPM",
    axisOptions: {
      xIsSeries: true // show fewer timestamps
    }
  });
</script>

<script>
  //SPEED CHART
  console.log([{{{ graph.trendTstamps }}}])
  data = {

    labels: [{{{ graph.trendTstamps }}}],
  datasets: [
    {
      name: "Speed", type: "line",
      values: [{{ graph.trendSpeed }}]
        }],
  yMarkers: [{ label: "Speed Limit", value: 120 }],
    yRegions: [{ label: "", start: 0, end: 120 }]
}

  new frappe.Chart("#chartSpeed", {
    data: data,
    type: 'line',
    height: 180,
    colors: ['blue'],
    isNavigable: true,
    lineOptions: {
      regionFill: 1,
      dotSize: 0.1
    },
    title: "Speed",
    axisOptions: {
      xIsSeries: true // show fewer timestamps
    }



  });
</script>